.table-wrapper
  %table.table.table-triped.data-table<
    %caption< DKIM Keys
    %thead<
      %tr<
        %th< ID
        %th< Selector
        %th< Created
        %th< Updated
        %th< Domain
        %th.bool< Enabled
        %th< Authors
        %th.no-sort<
    %tfoot<
      %tr<
        %th.no-search<
        %th<
        %th<
        %th<
        %th<
        %th<
        %th<
        %th.no-sort<
    %tbody<
      - @dkims.each_value do |dkim|
        - en = 'icon-check item-enabled'
        - dis = 'icon-cross item-disabled'
        - suff = dkim['enabled'] ? en : dis
        - textval = dkim['enabled'] ? ' yes' : ' no'
        - a_del = "/mail/dkim/#{dkim['id']}/delete"
        %tr
          %td<= dkim['id']
          %td<
            %a{ href: "/mail/dkim/#{dkim['id']}/edit" }= dkim['selector']
          %td<= Time.at(dkim['created_at'].to_i)
          %td<= Time.at(dkim['updated_at'].to_i)
          %td<= dkim['domain']['name']
          %td.icon{ class: suff }= textval
          %td<
            - dkim['dkim_signings'].each do |dksgn|
              %p<= dksgn['author']
          %td<
            %a.icon.item-delete.icon-trash{ href: a_del }= ' delete'

%br<
%br<

.table-wrapper
  %table.table.table-triped.data-table
    %caption DKIM Author-Key Associations
    %thead
      %tr
        %th< ID
        %th< Author
        %th< Created
        %th< Updated
        %th.bool< Enabled
        %th< DKIM Key
        %th<
    %tfoot<
      %tr<
        %th.no-search<
        %th<
        %th<
        %th<
        %th<
        %th<
        %th.no-sort<
    %tbody
      - @dkimsignings.each_value do |dkimsgn|
        - dksgnid = dkimsgn['id']
        - en = 'icon-check item-enabled'
        - dis = 'icon-cross item-disabled'
        - suff = dkimsgn['enabled'] ? en : dis
        - textval = dkimsgn['enabled'] ? ' yes' : ' no'
        - a_del = "/mail/dkimsigning/#{dkimsgn['id']}/delete"
        %tr
          %td<= dkimsgn['id']
          %td<
            %a{ href: "/mail/dkimsigning/#{dksgnid}/edit" }= dkimsgn['author']
          %td<= Time.at(dkimsgn['created_at'].to_i)
          %td<= Time.at(dkimsgn['updated_at'].to_i)
          %td.icon{ class: suff }= textval
          %td<= dkimsgn['dkim']['id']
          %td<
            %a.icon.item-delete.icon-trash{ href: a_del }= ' delete'
