.table-wrapper
  %table.table.table-striped.data-table<
    %caption< DKIM Keys
    %thead<
      %tr<
        %th< ID
        %th< Selector
        %th< Created
        %th< Updated
        %th< Domain
        %th.bool< Enabled
        %th< Authors
        %th.no-sort<
    %tfoot<
      %tr<
        %th.no-search<
        %th<
        %th<
        %th<
        %th<
        %th<
        %th<
        %th.no-sort<
    %tbody<
      - @dkims.each_value do |dkim|
        - id = dkim['id']
        - alt = "DKIM #{id} (#{dkim['selector']}) of #{dkim['domain']['name']}"
        %tr{ id: "vhapi-mail-dkim-#{id}" }<
          %td<= id
          - haml_td_edit "/mail/dkim", id, dkim['selector'], alt
          %td.iso-date<= Time.at(dkim['created_at'].to_i).strftime('%F')
          %td.iso-date<= Time.at(dkim['updated_at'].to_i).strftime('%F')
          %td<= dkim['domain']['name']
          - haml_td_bool dkim['enabled']
          %td<
            - dkim['dkim_signings'].each do |dksgn|
              %p<= dksgn['author']
          - haml_td_delete "/mail/dkim", id, alt

%br<
%br<

.table-wrapper
  %table.table.table-striped.data-table
    %caption DKIM Author-Key Associations
    %thead
      %tr
        %th< ID
        %th< Author
        %th< Created
        %th< Updated
        %th.bool< Enabled
        %th< DKIM Key
        %th<
    %tfoot<
      %tr<
        %th.no-search<
        %th<
        %th<
        %th<
        %th<
        %th<
        %th.no-sort<
    %tbody
      - @dkimsignings.each_value do |dkimsgn|
        - id = dkimsgn['id']
        - key_id = dkimsgn['dkim']['id']
        - alt = "DKIM Signing #{id} (#{dkimsgn['author']})"
        %tr{ id: "vhapi-mail-dkimsigning-#{id}" }<
          %td<= id
          - haml_td_edit "/mail/dkimsigning", id, dkimsgn['author'], alt
          %td.iso-date<= Time.at(dkimsgn['created_at'].to_i).strftime('%F')
          %td.iso-date<= Time.at(dkimsgn['updated_at'].to_i).strftime('%F')
          - haml_td_bool dkimsgn['enabled']
          %td<= key_id
          - haml_td_delete "/mail/dkimsigning", id, alt
