.table-wrapper
  - @create_btn_txt = 'New Domain'
  %a{ href: '/domains/new' }<= haml :create_button
  %table.table.table-striped.data-table
    %caption Domains
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          %th< ID
          %th< Domain Name
          %th.bool< Email Enabled
          %th.bool< DNS Enabled
          %th< Created
          %th< Updated
          %th.bool< Enabled
          %th< User
          %th.no-sort<
      %tfoot
        %tr
          %th.no-search<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th.no-sort<
      %tbody
        - @result.each_value do |d|
          - en = 'icon-active item-enabled'
          - dis = 'icon-disabled item-disabled'
          - en_suff = d['enabled'] ? en : dis
          - en_textval = d['enabled'] ? ' yes' : ' no'
          - mail_en_suff = d['mail_enabled'] ? en : dis
          - mail_en_textval = d['mail_enabled'] ? ' yes' : ' no'
          - dns_en_suff = d['dns_enabled'] ? en : dis
          - dns_en_textval = d['dns_enabled'] ? ' yes' : ' no'
          - a_del = "/domains/#{d['id']}/delete"
          %tr{ id: "vhapi-domains-#{d['id']}" }<
            %td<= d['id']
            %td<
              %a{ href: "/domains/#{d['id']}/edit" }<= d['name']
            %td.icon{ class: "icon #{mail_en_suff}" }= mail_en_textval
            %td.icon{ class: "icon #{dns_en_suff}" }= dns_en_textval
            %td.iso-date<= Time.at(d['created_at'].to_i).strftime('%F')
            %td.iso-date<= Time.at(d['updated_at'].to_i).strftime('%F')
            %td.icon{ class: "icon #{en_suff}" }= en_textval
            %td<= d['user']['name']
            %td<
              %a.icon.item-delete.icon-trash{ href: a_del }= ' delete'
