!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %title= @title
    %meta{ content: '', name: 'description' }
    %meta{ content: '', name: 'author' }
    %link{ rel: 'shortcut icon', href: "/img/#{settings.site_favicon}" }
    %link{ href: '/css/bootstrap.min.css', rel: 'stylesheet' }
    %link{ href: '/css/jquery.dataTables.min.css', rel: 'stylesheet' }
    %link{ href: '/css/own.css', rel: 'stylesheet' }
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar' }, aria: { expanded: 'false' } }
            %span.sr-only< Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          </button>
          %a.navbar-brand.navbar-brand-pad{ href: '/' }<
            %span.helper<
            %img.hidden-xs{ alt: 'Brand', src: "/img/#{settings.site_brand}" }
        .navbar-collapse.collapse#navbar
          %ul.nav.navbar-nav
            = haml :nav
          %ul.nav.navbar-nav.navbar-right
            - if !@user.nil?
              %li
                %a{ href: '/logout', title: 'Logout' }<
                  %span.icon.icon-logout>
                  %span.hidden-sm= " Logout (#{@user[:login]})"
            - else
              %li
                %a{ href: '/login',
                    title: 'Login' }
                  Login
    .alert-wrapper.container{ id: 'alert-wrapper' }<
    .container-fluid<
      - if @sidebar_elements.nil? || @sidebar_elements.empty?
        .row<
          .col-sm-12.col-md-12.col-md-offset-0.main<= yield
      - else
        .row<
          .col-sm-3.col-md-1.sidebar<
            %ul.nav.nav-sidebar<= haml :sidebar
          .col-sm-9.col-sm-offset-3.col-md-11.col-md-offset-1.main<= yield
    %script{ src: '/js/jquery.js' }
    %script{ src: '/js/bootstrap.min.js' }
    %script{ src: '/js/multiselect.js' }
    %script{ src: '/js/jquery.dataTables.min.js' }
    %script{ src: '/js/application.js' }
