.table-wrapper
  - @create_btn_txt = 'New MailAccount'
  %a{ href: '/mail/accounts/new' }<= haml :create_button
  %table.table.table-triped.data-table<
    %caption< MailAccounts
    %thead<
      %tr<
        %th< ID
        %th.bool< Enabled
        %th< Email Address
        %th< Realname
        %th< Created
        %th< Updated
        %th.bool< Receiving
        %th< Usage
        %th.quota-bytes< Quota
        %th.no-sort<
    %tfoot<
      %tr<
        %th.no-search<
        %th<
        %th<
        %th<
        %th<
        %th<
        %th<
        %th.no-search<
        %th<
        %th.no-sort<
    %tbody<
      - @result.each_value do |mailaccount|
        - acc_id = mailaccount['id']
        - edit_link = "/mail/accounts/#{acc_id}/edit"
        - en = 'icon-check item-enabled'
        - dis = 'icon-cross item-disabled'
        - en_suff = mailaccount['enabled'] ? en : dis
        - en_textval = mailaccount['enabled'] ? ' yes' : ' no'
        - rcv_suff = mailaccount['receiving_enabled'] ? en : dis
        - rcv_textval = mailaccount['receiving_enabled'] ? ' yes' : ' no'
        - a_del = "/mail/accounts/#{mailaccount['id']}/delete"
        - quota = mailaccount['quota'].to_i
        - quota_pretty = Filesize.from("#{quota} B").pretty
        - progress_class = 'progress-bar progress-bar-info'
        - thresh_warn = settings.threshholds[:display][:mailquota_warn]
        - thresh_crit = settings.threshholds[:display][:mailquota_crit]
        - if mailaccount['quotausage_rel'] >= thresh_warn
          - progress_class = 'progress-bar progress-bar-warning'
        - if mailaccount['quotausage_rel'] >= thresh_crit
          - progress_class = 'progress-bar progress-bar-danger'
        - quota_order = quota.zero? ? (2**63 - 2) : quota
        %tr{ id: "vhapi-mail-accounts-#{acc_id}" }<
          %td<= acc_id
          %td.icon{ class: en_suff }= en_textval
          %td<
            %a{ href: edit_link }<= mailaccount['email']
          %td<= mailaccount['realname']
          %td.iso-date<= Time.at(mailaccount['created_at'].to_i).strftime('%F')
          %td.iso-date<= Time.at(mailaccount['updated_at'].to_i).strftime('%F')
          %td.icon{ class: rcv_suff }= rcv_textval
          %td{ data: { order: mailaccount['quotausage'].to_i } }<
            .progress<
              %div{ class: progress_class,
                    'role': 'progress',
                    'aria-valuemin': '0',
                    'aria-valuemax': '100',
                    style: "width:#{mailaccount['quotausage_rel']}%" }<
                %span<
                  - q_usage = mailaccount['quotausage']
                  - if q_usage.is_a?(Integer)
                    = Filesize.from("#{mailaccount['quotausage']} B").pretty
                  - else
                    N/A
          %td.number{ style: 'text-align: right;',
                      data: { order: quota_order } }<
            - if quota.zero?
              Unlimited
            - else
              = quota_pretty
          %td<
            %a.icon.item-delete.icon-trash{ href: a_del }= ' delete'
