.table-wrapper
  - if admin? || reseller?
    - @create_btn_txt = 'New Package'
    %a{ href: '/packages/new' }<= haml :create_button
  %table.table.table-striped.data-table
    %caption Packages
    - unless @result.nil? || @result.empty?
      %thead
        %tr
          %th< ID
          %th< Package Name
          %th< Price Unit
          %th< Created
          %th< Updated
          %th< Enabled
          %th< Owner ID
          %th< Apikeys
          %th< Customers
          %th< Custom Packages
          %th< Domains
          %th< Mail Accounts
          %th< Mail Aliases
          %th< Mail Sources
          %th< Mail Storage
          %th< VHosts
          %th< VHost Storage
          %th< Databases
          %th< Database Users
          %th< DNS Zones
          %th< DNS Records
          %th< SFTP Users
          %th< Shell Users
          %th< SSH Pubkeys
          %th.no-sort<
      %tfoot
        %tr
          %th.no-search<
          %th<
          %th<
          %th<
          %th<
          %th.bool<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th<
          %th.no-sort<
      %tbody
        - @result.each_value do |p|
          - id = p['id']
          - alt = "Edit Package #{id} (#{p['name']})"
          %tr{ id: "vhapi-packages-#{p['id']}" }<
            %td<= p['id']
            - haml_td_edit "/packages", id, p['name'], alt
            %td<= p['price_unit']
            %td.iso-date<= Time.at(p['created_at'].to_i).strftime('%F')
            %td.iso-date<= Time.at(p['updated_at'].to_i).strftime('%F')
            - haml_td_bool p['enabled']
            %td<= p['user_id']
            %td<= p['quota_apikeys']
            %td<= p['quota_customers']
            %td<= p['quota_custom_packages']
            %td<= p['quota_domains']
            %td<= p['quota_mail_accounts']
            %td<= p['quota_mail_aliases']
            %td<= p['quota_mail_sources']
            %td<= Filesize.from("#{p['quota_mail_storage'].to_i} b").pretty
            %td<= p['quota_vhosts']
            %td<= Filesize.from("#{p['quota_vhost_storage'].to_i} b").pretty
            %td<= p['quota_databases']
            %td<= p['quota_database_users']
            %td<= p['quota_dns_zones']
            %td<= p['quota_dns_records']
            %td<= p['quota_sftp_users']
            %td<= p['quota_shell_users']
            %td<= p['quota_ssh_pubkeys']
            - haml_td_delete "/packages", id, alt
